@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #1b1b1b;
  max-width: 1920px;
  margin: 0 auto;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: unset;
}
@media screen and (max-width: 975px) {
  html {
    font-size: 55%
  }
}